table {
    width: 100%;
}

.mat-card {
    border-radius: 10px;
}

.example-container {
    width: 911px;
    height: 400px;
    max-width: 100%;
    overflow: auto;
}

.search-input {
    width: 50%;
    margin-left: 10px;
}

.search-icon {
    color: rgba(0, 0, 0, .54);
}

.search-icon:hover {
    color: rgba(0, 0, 0, 1);
}

.ellipsis {
    overflow: hidden;
    max-height: 10rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}
