<!-- Tarjeta -->
<mat-card>
    <!-- SEARCH -->
    <!-- <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

    <label for="search" class="mr-8">
      <mat-icon class="sg-fg-white secondary-text">search</mat-icon>
  </label>
    <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
        <input id="search" matInput #filter placeholder="Busqueda" (keyup)="applyFilter(($event.target as HTMLInputElement).value)">
    </mat-form-field>
</div> -->
    <!-- / SEARCH -->
    <!-- Tabla -->
    <table mat-table [dataSource]="dataSource" *ngIf="displayedColumns != undefined && displayedColumns.length > 0">
        <!-- id Column -->
        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef> Idd </th>
            <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>
        <!-- photo url Column -->
        <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef> Photo </th>
            <td mat-cell *matCellDef="let element"> {{element.photo}} </td>
        </ng-container>
        <!-- Text Column -->
        <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> Text </th>
            <td mat-cell *matCellDef="let element"> {{element.text}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[1,2,3,4,5, 10, 25, 100]" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="resultLength" (page)="refreshPagination($event)">
    </mat-paginator>
    <!-- /Tabla -->
</mat-card>
<!-- /Tarjeta -->