<!-- Tarjeta -->
<mat-card class="mat-elevation-z8">
    <!-- SEARCH -->
    <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

        <label for="search" class="mr-8">
      <mat-icon matTooltip="Hacer búsqueda" class="search-icon"(click)="showSearch = !showSearch">search</mat-icon>
  </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto" class="search-input" *ngIf="showSearch">
            <input id="search-input" matInput #filter placeholder="Búsqueda" (keyup)="applyFilter($event)">
        </mat-form-field>
    </div>
    <!-- / SEARCH -->
    <!-- Tabla -->
    <div class="example-container">


        <table mat-table [dataSource]="dataSource" (matSortChange)="sortChange($event)" matSort matSortActive="_id" matSortDirection="desc" *ngIf="dataSource.filteredData.length !== 0">
            <!-- id Column -->
            <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element" style="padding-right: 24px;"> {{element._id}} </td>
            </ng-container>
            <!-- photo url Column -->
            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Photo </th>
                <td mat-cell *matCellDef="let element">
                    <img [src]="element.photo" [alt]="element.photo" width="500" height="600">
                </td>
            </ng-container>
            <!-- Text Column -->
            <ng-container matColumnDef="text">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Text </th>
                <td mat-cell *matCellDef="let element" [matTooltip]="element.text" class="ellipsis" style="padding: 24px 24px 0px 24px; text-align: justify;"> {{element.text}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <p *ngIf="dataSource.filteredData.length === 0" class="no-elements">No existen elementos para la búsqueda realizada</p>
    </div>
    <mat-paginator [pageSizeOptions]="[1,2,3,4,5, 10, 25, 100, data.length]" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="resultLength" (page)="refreshPagination($event)">
    </mat-paginator>
    <!-- /Tabla -->
</mat-card>
<!-- /Tarjeta -->
