<div class="content" fxLayout="column">
    <!-- SEARCH -->
    <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

        <label for="search" class="mr-8">
<mat-icon matTooltip="Hacer búsqueda" class="search-icon"(click)="showSearch = !showSearch">search</mat-icon>
</label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto" class="search-input" *ngIf="showSearch">
            <input id="search-input" matInput #filter placeholder="Búsqueda" (keyup)="applyFilter($event)">
        </mat-form-field>
    </div>
    <!-- / SEARCH -->
    <div class="grid-content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let element of data; trackBy: trackById">
                <mat-card class="mat-elevation-z4">

                    <img mat-card-image [src]="element.photo" [alt]="element._id" loading="lazy">
                    <div mat-card-content class="ellipsis" [matTooltip]="element.text"> {{element.text}}</div>

                </mat-card>
            </div>
        </div>
    </div>

</div>
