<div class="content" style="display: flex; flex-direction: column;">
   <!-- SEARCH -->
  <div class="search-input-wrapper mx-12 m-md-0" style="flex: 1 0 auto; display: flex; align-items: center;">
    <label for="search" class="mr-8">
      <mat-icon matTooltip="Hacer búsqueda" class="search-icon" (click)="showSearch = !showSearch">search</mat-icon>
    </label>
    <mat-form-field floatPlaceholder="never" ngDefaultControl [(ngModel)]="inputSearch" class="search-input" *ngIf="showSearch" style="flex: 1 0 auto;">
    <input id="search-input" matInput #filter placeholder="Búsqueda" (keyup)="applyFilter($event)"> </mat-form-field>
  </div> <!-- / SEARCH -->
  <div class="grid-content" infiniteScroll [infiniteScrollDistance]="0.8" [scrollWindow]="false" (scrolled)="onScroll()">
  <div class="grid card-list">
  <div class="grid-item" *ngFor="let element of data; trackBy: trackById" style="flex: 1 1 25%; flex-basis: 100%; flex-basis: 33%;">
    <mat-card class="mat-elevation-z4 card">
      <img mat-card-image [src]="element.photo? element.photo : defaultImage" [alt]="element._id" loading="lazy">
      <div mat-card-content class="ellipsis" [matTooltip]="element.text">{{element.text}}</div>
    </mat-card>
  </div>
</div>

